@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --list_margins :2vh;
    --cursor_size : 20px;
    --maincolor: #DA0037;
    --secondary: #444444;
    --primary: #171717;
    --primaryonhover: #2e2e2e;
    --text: #ffffff;

    --workdim: 20vw;

    --bg1: url('/public/backgroundimages/redandwhite.jpg');
    --bg2: url('/public/backgroundimages/wavesred.jpg');
    --bg3: url('/public/backgroundimages/caveblue.jpg');
}

body{
    cursor: none;
}
#cursor{
    position: absolute;
    width: var(--cursor_size); 
    height: var(--cursor_size);
    background-color: var(--maincolor);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 4;
  }

/* B O R D E R*/
#base{
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    background-color: var(--primary);
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* N  A V B A R */
.navBar {
    width: 20vw;
    height: 5vh;
    border-radius: 0.5vw;
    position: fixed;
    top: 1vh;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navitems {
    position: sticky;
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 0.5vw;
    color: var(--text);
    font-weight: bold;
}

.navitems img {
    width: 25px;
    padding: 5px;
}





/* main content */
#screen {
    width: 98vw;
    height: 93vh;
    border-radius: 0.5vw;
    overflow-y: auto;
    position: relative;
    top: 2.5vh;
    background-color: rgb(40, 40, 43);
    font-family: "Rubik Mono One", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    font-style: normal;
}

/* P A G E */
.page{
    padding: 2rem;
    width: 90vw;
    border-radius: 0.5vw;
    font-weight: normal;
    background-color: var(--primary);
    color: rgb(164, 164, 165);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* I N T R O T E X T S */
.intro_texts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#intro_normal {
    color: #949494;
    font-size: x-large;

}

#intro_name #space {
    width: 7vw;
}

#intro_name {
    color: var(--maincolor);
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    margin: 18vh;
    transition: box-shadow 0.4s ease;
}


/* H O M E */
#Home{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* I N F O */
#Info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Info .intro_texts{
    font-size: medium;
}
.my_list_text ul{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    list-style: none;
}
.my_list_text li{
    margin-top: var(--list_margins);
    margin-bottom: var(--list_margins);
}
.my_list_text li a{
   text-decoration: none;
   color: inherit;

}
.my_list_text li:hover{
    color: var(--maincolor);
}
/* W O R K S */
#Works{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* H O B B Y */
#Hobby{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* C O N T A C T */
#Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
