---
import Personmode from '@components/Personmode.astro';
---
<section>
    <Personmode />
</section>

<style>

    section{
        position: relative;
        margin-top: 3rem;
        width  : 100vw;
        height : 100vh;
    }

</style>
